<div class="row" style="margin: 15px 0 15px 0;">
    <%= link_to 'Edit', edit_an_path(@an), class: 'btn btn-info' %> |
    <%= link_to 'Back', ans_path, class: 'btn btn-warning' %>
</div>

<div class="row well well-sm">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id test:</strong>
  <%= @an.id_test %>
</p>

<p>
  <strong>Naim:</strong>
  <%= @an.naim %>
</p>

<p>
  <strong>Otvet1:</strong>
  <%= @an.otvet1 %>
</p>

<p>
  <strong>Bal1:</strong>
  <%= @an.bal1 %>
</p>

<p>
  <strong>Otvet2:</strong>
  <%= @an.otvet2 %>
</p>

<p>
  <strong>Bal2:</strong>
  <%= @an.bal2 %>
</p>

<p>
  <strong>Otvet3:</strong>
  <%= @an.otvet3 %>
</p>

<p>
  <strong>Bal3:</strong>
  <%= @an.bal3 %>
</p>

<p>
  <strong>Otvet4:</strong>
  <%= @an.otvet4 %>
</p>

<p>
  <strong>Bal4:</strong>
  <%= @an.bal4 %>
</p>

<p>
  <strong>Otvet5:</strong>
  <%= @an.otvet5 %>
</p>

<p>
  <strong>Bal5:</strong>
  <%= @an.bal5 %>
</p>

<p>
  <strong>Otvet6:</strong>
  <%= @an.otvet6 %>
</p>

<p>
  <strong>Bal6:</strong>
  <%= @an.bal6 %>
</p>

<p>
  <strong>Otvet7:</strong>
  <%= @an.otvet7 %>
</p>

<p>
  <strong>Bal7:</strong>
  <%= @an.bal7 %>
</p>

<p>
  <strong>Otvet8:</strong>
  <%= @an.otvet8 %>
</p>

<p>
  <strong>Bal8:</strong>
  <%= @an.bal8 %>
</p>

<p>
  <strong>Otvet9:</strong>
  <%= @an.otvet9 %>
</p>

<p>
  <strong>Bal9:</strong>
  <%= @an.bal9 %>
</p>

<p>
  <strong>Otvet10:</strong>
  <%= @an.otvet10 %>
</p>

<p>
  <strong>Bal10:</strong>
  <%= @an.bal10 %>
</p>

<p>
  <strong>User otvet:</strong>
  <%= @an.user_otvet %>
</p>
</div>