<div class="row" style="margin: 15px 0 15px 0;">
    <%= link_to 'Edit', edit_test_path(@test), class: 'btn btn-info' %> |
    <%= link_to 'Back', tests_path, class: 'btn btn-warning' %>
</div>
<div class="row well well-sm">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Id raz:</strong>
      <%= @test.id_raz %>
    </p>

    <p>
      <strong>Naim:</strong>
      <%= @test.naim %>
    </p>

    <p>
      <strong>Rez1:</strong>
      <%= @test.rez1 %>
    </p>

    <p>
      <strong>Balb1:</strong>
      <%= @test.balb1 %>
    </p>

    <p>
      <strong>Bale1:</strong>
      <%= @test.bale1 %>
    </p>

    <p>
      <strong>Rez2:</strong>
      <%= @test.rez2 %>
    </p>

    <p>
      <strong>Balb2:</strong>
      <%= @test.balb2 %>
    </p>

    <p>
      <strong>Bale2:</strong>
      <%= @test.bale2 %>
    </p>

    <p>
      <strong>Rez3:</strong>
      <%= @test.rez3 %>
    </p>

    <p>
      <strong>Balb3:</strong>
      <%= @test.balb3 %>
    </p>

    <p>
      <strong>Bale3:</strong>
      <%= @test.bale3 %>
    </p>

    <p>
      <strong>Rez4:</strong>
      <%= @test.rez4 %>
    </p>

    <p>
      <strong>Balb4:</strong>
      <%= @test.balb4 %>
    </p>

    <p>
      <strong>Bale4:</strong>
      <%= @test.bale4 %>
    </p>

    <p>
      <strong>Rez5:</strong>
      <%= @test.rez5 %>
    </p>

    <p>
      <strong>Balb5:</strong>
      <%= @test.balb5 %>
    </p>

    <p>
      <strong>Bale5:</strong>
      <%= @test.bale5 %>
    </p>

    <p>
      <strong>Rez6:</strong>
      <%= @test.rez6 %>
    </p>

    <p>
      <strong>Balb6:</strong>
      <%= @test.balb6 %>
    </p>

    <p>
      <strong>Bale6:</strong>
      <%= @test.bale6 %>
    </p>

    <p>
      <strong>Rez7:</strong>
      <%= @test.rez7 %>
    </p>

    <p>
      <strong>Balb7:</strong>
      <%= @test.balb7 %>
    </p>

    <p>
      <strong>Bale7:</strong>
      <%= @test.bale7 %>
    </p>

    <p>
      <strong>Rez8:</strong>
      <%= @test.rez8 %>
    </p>

    <p>
      <strong>Balb8:</strong>
      <%= @test.balb8 %>
    </p>

    <p>
      <strong>Bale8:</strong>
      <%= @test.bale8 %>
    </p>

    <p>
      <strong>Rez9:</strong>
      <%= @test.rez9 %>
    </p>

    <p>
      <strong>Balb9:</strong>
      <%= @test.balb9 %>
    </p>

    <p>
      <strong>Bale9:</strong>
      <%= @test.bale9 %>
    </p>

    <p>
      <strong>Rez10:</strong>
      <%= @test.rez10 %>
    </p>

    <p>
      <strong>Balb10:</strong>
      <%= @test.balb10 %>
    </p>

    <p>
      <strong>Bale10:</strong>
      <%= @test.bale10 %>
    </p>

    <p>
      <strong>User rez:</strong>
      <%= @test.user_rez %>
    </p>

    <p>
      <strong>Formula:</strong>
      <%= @test.formula %>
    </p>
</div>